<html>
	<div id ="master_div">
	<table id="master_table">
		<tr>

			<td>
			<table id ="Hello_World">
				<tr>
					<td>Hello</td>
					<td>World</td>
				</tr>
				<tr>
					<td>Goodbye</td>
					<td>World</td>
				</tr>
			</table>
			</td>

			<td>
				<form id="first_form" method="POST" action="/echo">
					Name:
					</br>
					<input type="text" id ="first_text" name="first_text">
					</br>
					<i class="icon-star"></i>
					<input type="checkbox" id="first_checkbox" name="first_checkbox"> Check Me Out
					</br>
					<button type="submit" id="name_button" name="name_button" class="btn">Submit Name</button>
				</form>
			</td>

			<td>
				<form id="second_form" method="POST" action="/echo">
					Age:
					</br>
					<input type="text" id ="second_text" name="second_text">
					</br>
					<i class="icon-calendar"></i>
					<input type="checkbox" id="second_checkbox" name="second_checkbox"> Check Me Out
					</br>
					<button type="submit" id="age_button" name="age_button">Submit Age</button>
				</form>
			</td>

		</tr>
	</table>
	</div>
</html>